body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/static/assets/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "comic san ms", 'Helvetica Neue', sans-serif;
    font-size: 500%;
}

#home {
    margin: 0 auto;
}

#judulHome {
    color: white;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: goldenrod;
}

.content {
    color: white;
}

#picProfile {
    border-radius: 80%;
    width: 17%;
    height: 40%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}